<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>Sign-up</h3>
    <form action="/signup" method="post">
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <br>
        <label>Email:</label>
        <input type="email"  name="email">
        <br>
        <br>
         <label>Password:</label>
       <input type="password"  name="password">
        <br>
        <br>
        <button>Submit</button>
    </form>
<br>
<br>
        <a href="/login">login-page</a>
        <br>
        <br>
        <a href="/logout">Log-out</a>

</body>
</html>
